<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Do Tung Lam 
        Hoang Nguyen Nhat Minh
        Loi Gia Long 
        Ngo Ngoc Thinh
        Vu Tuan Linh
ID:     Do Tung Lam (s3963286)
        Hoang Nguyen Nhat Minh (s3977856)
        Loi Gia Long (s3758273)
        Ngo Ngoc Thinh (s3879364)
        Vu Tuan Linh (s3927502)
Acknowledgement: 
Bootstrap documentation: https://getbootstrap.com/ 
Bootstrap icon: https://icons.getbootstrap.com/
Google icon: https://fonts.google.com/icons
Pexels: https://www.pexels.com/
Canva: https://www.canva.com/ -->

<%- include ("../partials/head.ejs") %> 
<body>
  <%- include ("../partials/shipper-header.ejs") %>
  <!-- Main content -->
  <main class="indent my-5">

    <!-- Main Content -->
    <div class="account-container">
      <div class="account-img-section">
        <% if (shipper.imgSrc) { %>
          <img class="account-img" src="<%= shipper.imgSrc %>" alt="Shipper profile image">
        <% } else { %>
          <img class="account-img" src="/images/avatar_default.png" alt="Shipper profile image">
        <% } %>
      </div>
      <div class="account-info-section">
         <!-- Breadcrumb -->
         <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Account</li>
          </ol>
        </nav>
        <div class="account-title d-flex align-items-center mb-4">
          <h1>
            My Account
          </h1>
        </div>

        <form action="/profile/edit?_method=PUT" enctype="multipart/form-data" method="POST">
          <fieldset>
            <div class="mb-4">
                <label for="picture" class="form-label">Profile Picture</label>
                <input type="file" class="form-control" name="picture" id="picture">
            </div>
            <div class="mb-4">
                <select name="shipperHub" id="shipperHub" class="form-select">
                    <% hubs.forEach(hub => {%>
                        <option value="<%= hub._id %>"><%= hub.name %> [Address: <%= hub.address %>]</option>
                     <% }) %>
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </main>
  <%- include ('../partials/footer.ejs') %>
  <script src="/js/retrieve-img.js"></script>
  <script src="/js/profile-validator.js"></script>
  <script>
    const options = document.querySelectorAll('option');
    if (options) {
      options.forEach(option => {
        if (option.value === "<%= shipper.hub %>") {
          option.selected = true;
        }
      })
    }
  </script>
</body>
</html>
