<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Do Tung Lam 
        Hoang Nguyen Nhat Minh
        Loi Gia Long 
        Ngo Ngoc Thinh
        Vu Tuan Linh
ID:     Do Tung Lam (s3963286)
        Hoang Nguyen Nhat Minh (s3977856)
        Loi Gia Long (s3758273)
        Ngo Ngoc Thinh (s3879364)
        Vu Tuan Linh (s3927502)
Acknowledgement: 
Bootstrap documentation: https://getbootstrap.com/ 
Bootstrap icon: https://icons.getbootstrap.com/
Google icon: https://fonts.google.com/icons
Pexels: https://www.pexels.com/
Canva: https://www.canva.com/ -->

<%- include ("../partials/head.ejs") %> 
<body>
  <%- include ("../partials/shipper-header.ejs") %>
  <!-- Main content -->
  <main class="indent my-5">

    <!-- Main Content -->
    <div class="account-container">
      <div class="account-img-section">
        <% if (shipper.imgSrc) { %>
          <img class="account-img" src="<%= shipper.imgSrc %>" alt="<%= user.username %> avatar">
        <% } else { %>
          <img class="account-img" src="/images/avatar_default.png" alt="<%= user.username %> avatar">
        <% } %>
        <button
          type="button"
          class="btn btn-link"
          data-bs-toggle="modal"
          data-bs-target="#uploadImage"
        >
          Change
        </button>
      </div>
      <div class="account-info-section">
         <!-- Breadcrumb -->
         <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Account</li>
          </ol>
        </nav>
        <div class="account-title d-flex align-items-center mb-4">
          <h1>
            My Account
          </h1>
          <form action="/logout" method="GET">
            <button id="logout-btn" type="submit" class="btn btn-primary ms-4">Logout</button>
          </form>
        </div>

        <form action="/shipper/profile?_method=PUT" enctype="multipart/form-data" method="POST">
          <fieldset>
            <div class="mb-4">
              <label for="shipperUsername" class="form-label">Username</label>
              <input type="text" value="<%= user.username %>" class="form-control" id="shipperUsername" disabled>
            </div>
            
            <div class="mb-4">
              <label for="shipperHub" class="form-label">Hub</label>
              <input type="text" value="<%= hub.name %> [Address: <%= hub.address %>]" class="form-control" id="shipperHub" disabled>
            </div>
            <!-- <button id="update-profile-btn" type="submit" class="btn btn-primary mt-3 float-end" disabled>Update profile</button> -->
          </fieldset>
        </form>
      </div>
    </div>

    <!-- Upload Image Modal -->
    <div
      class="modal fade"
      id="uploadImage"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">New Profile Image</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="account-upload-img-modal modal-body">
            <!-- Ask User to upload img -->
            <span
              class="material-symbols-outlined text-primary"
              style="font-size: 60px; width: min-content"
            >
              upload_file
            </span>
            <button id="upload-btn" class="btn btn-outline-primary" style="width: 50%">Select File</button>
            <div class="file-name"></div>
          </div>

          <form action="/shipper/profile?_method=PUT" enctype="multipart/form-data" method="POST">
            <div class="modal-footer">
              <button id="save-btn" type="submit" class="btn btn-primary" disabled>Save</button>
            </div>
            <input id="image-input" type="file" name="picture" hidden accept="image/png, image/gif, image/jpeg">
          </form>
        </div>
      </div>
    </div>
  </main>
  <%- include ('../partials/footer.ejs') %>

  <script src="/js/upload-img.js"></script>
</body>
</html>
