<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Do Tung Lam 
        Hoang Nguyen Nhat Minh
        Loi Gia Long 
        Ngo Ngoc Thinh
        Vu Tuan Linh
ID:     Do Tung Lam (s3963286)
        Hoang Nguyen Nhat Minh (s3977856)
        Loi Gia Long (s3758273)
        Ngo Ngoc Thinh (s3879364)
        Vu Tuan Linh (s3927502)
Acknowledgement: 
Bootstrap documentation: https://getbootstrap.com/ 
Bootstrap icon: https://icons.getbootstrap.com/
Google icon: https://fonts.google.com/icons
Pexels: https://www.pexels.com/
Canva: https://www.canva.com/ -->

<%- include ("../partials/head.ejs") %>
<body>
    <%- include ("../partials/shipper-header.ejs") %>
    <div class="hero-section carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/shipper-banner.png" class="d-block w-100" height="600" alt="Shipper banner">
            <div class="carousel-caption d-block">
              <h1>Shipper Homepage</h1>
              <p>Your central hub for comprehensive and real-time tracking order management</p>
            </div>
          </div>
        </div>
    </div>
    <!-- Main content -->
    <main class= "indent">
        <div class="order-container container px-0 mt-5 pb-3 mb-5 bg-white shadow rounded rounded-4 border border-1">
            <div class="order-header d-flex justify-content-between">
                <div class="title">
                    <h3 class="py-3 mx-4">Orders [<%= hub.name %>]</h3>
                </div>
                <ul class="nav nav-tabs d-flex align-items-end px-3" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active text-primary" disabled id="active-tab" data-bs-toggle="tab" data-bs-target="#active-tab-pane" type="button" role="tab" aria-controls="active-tab-pane" aria-selected="true">Active Order</button>
                    </li>
                </ul>
            </div>
            <div class="category row mx-4 py-3 border-top d-flex justify-content-md-between">
                <div class="col-1">
                    ID
                </div>
                <div class="col-2">
                    Date
                </div>
                <div class="col-2">
                    Customer
                </div>
                <div class="col-4">
                    Destination
                </div>
                <div class="col-1 d-flex justify-content-center">
                    Items 
                </div>
                <div class="col-lg-2 col-md-2 d-flex justify-content-center">
                    Details            
                </div>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="active-tab-pane" role="tabpanel" aria-labelledby="active-tab">
                    <div class="product-list d-flex flex-column-reverse">
                        <% orders.forEach(order => { %>
                            <div class="product row w-100 mx-0 px-4 py-3 border-top d-flex justify-content-md-between">
                                <div class="ID col-md-1 col-12 mb-2">
                                    #<%= order._id %>
                                </div>
                                <div class="date col-md-2 col-12 mb-2">
                                    <%= order.createdAt %>
                                </div>
                                <div class="customer-name col-md-2 col-12 mb-2">
                                    <%= order.customer.name %>
                                </div>
                                <div class="destination col-md-4 my-md-0 mb-3 col-12">
                                    <%= order.customer.address %>
                                </div>
                                <div class="items col-md-1 col-2 d-flex justify-content-md-center justify-content-center align-items-center">
                                    <%= order.product.length %>
                                </div>
                                <div class="status col-lg-2 col-md-2 col-10 d-flex align-items-center justify-content-md-center justify-content-end">
                                    <a class="btn btn-primary text-light" href="/shipper/order/<%= order.id %>">View</a>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>    
            </div>
        </div>
    </main>
    <!-- Main content -->
    <%- include ('../partials/footer.ejs') %>
</body>
</html>
