<%- include ("../partials/head.ejs") %> 

<body>
  <%- include ("../partials/customer-header.ejs") %>
  <!-- Main content -->
  <main class="indent my-5">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Account</li>
      </ol>
    </nav>

    <h1 class="account-title-mobile">My Account</h1>

    <!-- Main Content -->
    <div class="account-container">
      <div class="account-img-section">
        <% if (customer.imgSrc) { %>
          <img class="account-img" src="<%= customer.imgSrc %>" alt="<%= customer.name%> avatar"/>
        <% } else { %>
          <img class="account-img" src="/images/avatar_default.png" alt="<%= customer.name%> avatar"/>
        <% } %>
        <button
          type="button"
          class="btn btn-link"
          data-bs-toggle="modal"
          data-bs-target="#uploadImage"
        >
          Change
        </button>
      </div>
      <div class="account-info-section">
        
        <div class="account-title d-flex align-items-center">
          <h1>
            My Account
          </h1>
          <form action="/logout" method="GET">
            <button id="logout-btn" type="submit" class="btn btn-primary ms-4">Logout</button>
          </form>
        </div>

        <form action="/customer/profile?_method=PUT" enctype="multipart/form-data" method="POST">
          <fieldset>
            <div class="mb-3">
              <label for="customerUsername" class="form-label">Username</label>
              <input type="text" value="<%= user.username %>" class="form-control" id="customerUsername" disabled/>
            </div>
            <div class="mb-3">
              <label for="customerName" class="form-label">Name</label>
              <input type="text" value="<%= customer.name %>" class="form-control" id="customerName" name="customername"/>
            </div>
            <div class="mb-3">
              <label for="customerAddress" class="form-label">Address</label>
              <input
                type="text"
                value="<%= customer.address %>"
                class="form-control"
                id="customerAddress"
                name="customeraddress"
              />
            </div>
            <button id="update-profile-btn" type="submit" class="btn btn-primary mt-3 float-end" disabled>Update profile</button>
          </fieldset>
        </form>
      </div>
    </div>

    <!-- Upload Image Modal -->
    <div
      class="modal fade"
      id="uploadImage"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">New Profile Image</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="account-upload-img-modal modal-body">
            <!-- Ask User to upload img -->
            <span
              class="material-symbols-outlined text-primary"
              style="font-size: 60px; width: min-content"
            >
              upload_file
            </span>
            <button id="upload-btn" class="btn btn-outline-primary" style="width: 50%">Select File</button>
            <div class="file-name"></div>

            <!-- User has uploaded an img -->
            <!-- <img class="account-uploaded-img" src="/images/customer.jpg" />
            <button
              type="button"
              class="btn btn-link"
              data-bs-toggle="modal"
              data-bs-target="#uploadImage"
            >
              Reselect
            </button> -->
          </div>

          <form action="/customer/profile?_method=PUT" enctype="multipart/form-data" method="POST">
            <div class="modal-footer">
              <button id="save-btn" type="submit" class="btn btn-primary" disabled>Save</button>
            </div>
            <input id="image-input" type="file" name="picture" hidden accept="image/png, image/gif, image/jpeg">
          </form>
        </div>
      </div>
    </div>
  </main>
  <%- include ('../partials/footer.ejs') %>

  <script>
    var products = `<%- JSON.stringify(products) %>`;
    var customer = `<%- JSON.stringify(user) %>`;
  </script>
  <script src="/js/add-to-cart.js"></script>
  <script>
    // Handle upload btn click
    const uploadBtn = document.querySelector('#upload-btn');
    const imageInput = document.querySelector('#image-input');
    const fileNameDOM = document.querySelector('.file-name');
    const saveBtn = document.querySelector('#save-btn');
    uploadBtn.addEventListener('click', () => {
      imageInput.click();
    })

    imageInput.onchange = e => { 
      const file = e.target.files[0];
      fileNameDOM.innerHTML = `
        ${file.name}
      `;

      saveBtn.removeAttribute('disabled');
    }

    // Handle update profile btn
    const updateProfileBtn =  document.querySelector('#update-profile-btn');
    const inputs = document.querySelectorAll('.form-control');
    inputs.forEach(input => {
      input.oninput = e => {
        updateProfileBtn.removeAttribute('disabled');
      }
      input.onchange = e => {
        updateProfileBtn.removeAttribute('disabled');
      }
    });
  </script>
</body>
</html>
