<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Do Tung Lam 
        Hoang Nguyen Nhat Minh
        Loi Gia Long 
        Ngo Ngoc Thinh
        Vu Tuan Linh
ID:     Do Tung Lam (s3963286)
        Hoang Nguyen Nhat Minh (s3977856)
        Loi Gia Long (s3758273)
        Ngo Ngoc Thinh (s3879364)
        Vu Tuan Linh (s3927502)
Acknowledgement: 
Bootstrap documentation: https://getbootstrap.com/ 
Bootstrap icon: https://icons.getbootstrap.com/
Google icon: https://fonts.google.com/icons
Pexels: https://www.pexels.com/
Canva: https://www.canva.com/ -->

<%- include ("../partials/head.ejs") %> 
<body>
    <%- include ("../partials/customer-header.ejs") %>
    <main class= "indent">
        <section>
            <h2 class="text-center my-5 fs-1">View Your Orders</h2>
        </section>
    
        <section class="d-flex flex-column-reverse">
        <% if (orders.length == 0) {%>
            <div class="alert alert-primary text-center" role="alert">
                Your haven't ordered anything yet! Explore our products at <a href="/" class="d-inline link-underline">our homepage</a> !
            </div>
        <% } else {%>
    
            <% orders.forEach(order => { %>
                <div class="ordered-items-container container px-5 mb-5 bg-white shadow rounded rounded-4 border border-1">
                    <div class="ordered-items-header py-3 d-flex justify-content-start">
                        <div class="title product">
                            <h3>Order<span class="text-secondary ps-3">#<%= order._id %></span></h3>
                        </div>
                    </div>
    
                    <div class="product-list border-top border-bottom py-3">
                    <% products.forEach(product => { %>
                            <% if (order.product.includes(product._id)) {%>
                                <div class="product row w-100 mx-0 py-3 d-flex justify-content-between">
                                    <div class="product-image col-md-2 col-4 p-0 border rounded rounded-4 overflow-hidden">
                                        <img src="<%= product.imgSrc %>">
                                    </div>
                                    <div class="col-md-5 col-7 d-flex flex-column justify-content-center">
                                        <div class="product-name fs-lg-5 fs-6 bold"><%= product.name %></div>
                                    </div>
                                    <div class="quantity col-md-1 col-2 d-flex fs-lg-5 fs-6 mt-md-0 mt-2 justify-content-start align-items-center text-secondary">
                                        <div class="border px-3 py-1">1</div>
                                    </div>
                                    <div class="equation col-md-2 col-6 d-flex fs-lg-5 fs-6 mt-md-0 mt-2 justify-content-start align-items-center">
                                        <div class="pe-lg-3 pe-1">$<%= product.price %></div> x <div class="ps-lg-3 ps-1">1</div>
                                    </div>
                                    <div class="price col-md-1 col-2 p-0 bold d-flex fs-lg-5 fs-6 mt-md-0 mt-2 justify-content-end align-items-center">
                                        $<%= product.price %>
                                    </div>
                                </div>
                            <% } %>
                            <% }) %>
                        </div>
                    <div class="ordered-items-footer my-2">
                        <div class="ordered-items-footer my-2">
                            <div class="product w-100 mx-0 py-3 d-flex justify-content-between">
                                <div class="col-lg-2 col-md-3 col-4 px-0 status-update">
                                    <button class="status btn border border-0 text-capitalize" disabled><%= order.status %></button>
                                </div>
                                <div class="col-lg-6 col-md-5 col-0">
                                </div>
                                <div class="col-md-1 col-0">
                                </div>
                                <div class="col-3 bold px-0 fs-lg-5 fs-6 d-flex align-items-center">
                                    <div class="fee col-8">
                                        Total
                                    </div>
                                    <div class="price col-4 d-flex justify-content-end">
                                        $<%= order.price %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } %>
        </section>
    </main>
</body>

<!-- Footer -->
<%- include('../partials/footer.ejs') %>
<!-- Footer -->
<script>
    var products = `<%- JSON.stringify(products) %>`;
    var customer = `<%- JSON.stringify(customer) %>`;
</script>
<script src="/js/order-status.js"></script>
<script src="/js/add-to-cart.js"></script>