<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Do Tung Lam 
        Hoang Nguyen Nhat Minh
        Loi Gia Long 
        Ngo Ngoc Thinh
        Vu Tuan Linh
ID:     Do Tung Lam (s3963286)
        Hoang Nguyen Nhat Minh (s3977856)
        Loi Gia Long (s3758273)
        Ngo Ngoc Thinh (s3879364)
        Vu Tuan Linh (s3927502)
Acknowledgement: 
Bootstrap documentation: https://getbootstrap.com/ 
Bootstrap icon: https://icons.getbootstrap.com/
Google icon: https://fonts.google.com/icons
Pexels: https://www.pexels.com/
Canva: https://www.canva.com/ -->

<%- include ("../partials/head.ejs") %> 
<body>
  <%- include ("../partials/customer-header.ejs") %>
  <!-- Main content -->
  <main class="indent my-5">
    <h1 class="account-title-mobile">My Account</h1>

    <!-- Main Content -->
    <div class="account-container">
      <div class="account-img-section">
        <% if (customer.imgSrc) { %>
          <img class="account-img" src="<%= customer.imgSrc %>" alt="Customer profile image"/>
        <% } else { %>
          <img class="account-img" src="/images/avatar_default.png" alt="Customer profile image"/>
        <% } %>
      </div>
      <div class="account-info-section">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Account</li>
          </ol>
        </nav>
        <div class="account-title d-flex align-items-center mb-4">
          <h1>
            My Account
          </h1>
        </div>

        <form action="/customer/profile?_method=PUT" enctype="multipart/form-data" method="POST">
          <fieldset>
            <div class="mb-4">
              <label for="customerUsername" class="form-label">Username</label>
              <input type="text" value="<%= user.username %>" class="form-control" id="customerUsername" disabled/>
            </div>
            <div class="mb-4">
              <label for="customerName" class="form-label">Name</label>
              <input type="text" value="<%= customer.name %>" class="form-control" id="customerName" name="customername" disabled/>
            </div>
            <div class="mb-4">
              <label for="customerAddress" class="form-label">Address</label>
              <input
                type="text"
                value="<%= customer.address %>"
                class="form-control"
                id="customerAddress"
                name="customeraddress"
                disabled
              />
            </div>
            <div>
              <div>
                <a class="btn btn-primary" href="/profile/edit">Edit profile</a>
                <a href="/logout" class="btn btn-secondary">Logout</a>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </main>
  <%- include ('../partials/footer.ejs') %>

  <script>
    var products = `<%- JSON.stringify(products) %>`;
    var customer = `<%- JSON.stringify(user) %>`;
  </script>
  <script src="/js/add-to-cart.js"></script>
 </body>
</html>


